<header class="page-header">
    <h1><%= @member.full_name %></h1>
</header>

<div class="details">
    <h2>Member Details</h2>
    <ul class="details-list">
        <li><b>Name:</b> <%= @member.full_name %></li>
        <li><b>Preferred Name:</b> <%= @member.preferred_name %></li>
        <li><b>Age:</b> <%= @member.age %></li>
        <li><b>Join Date:</b> <%= @member.join_date %></li>
    </ul>
    <hr>
</div>

<div class="details">
    <h2>Bookings</h2>
    <ul class="details-list">
        <% @member.bookings.each do |booking| %>
            <li>
                <a href="/class/<%= booking.gym_class.id %>">
                    <%= booking.gym_class.name %> — <%= booking.time %>
                </a>
            </li>
        <% end %>
    </ul>
</div>

<footer>
    <a href="/members-list">
        <p>Back to Members List</p>
    </a>
</footer>
