<h1><%= @member.full_name %></h1>
<hr>

<div class="details">
    <ul class="details-list">
        <li><b>Name:</b> <%= @member.full_name %></li>
        <li><b>Preferred Name:</b> <%= @member.preferred_name %></li>
        <li><b>Age:</b> <%= @member.age %></li>
        <li><b>Join Date:</b> <%= @member.join_date %></li>
    </ul>
    <hr>
</div>
<div class="details">
    <h2>Bookings</h2>
    <ul class="details-list">
        <% @member.classes.each do |gym_class| %>
            <li>
                <a href="/class/<%= gym_class.id %>">
                    <%= gym_class.name %> - 
                </a>
            </li>
        <% end %>
    </ul>
</div>

<footer>
    <a href="/members-list">
        <p>Back to Members List</p>
    </a>
</footer>
