<header class="page-header">
    <h1><%= @gym_class.name %></h1>
</header>

<div class="details">
    <h2>Class Details</h2>
    <ul class="details-list">
        <li><b>Class:</b> <%= @gym_class.name %></li>
        <li><b>Trainer:</b> <%= @gym_class.trainer_name %></li>
        <li>
            <b>Available Times:</b>
            <ul class="details-list-nested">
                <% @gym_class.available_times.each do |time| %>
                    <li><%= time %></li>
                <% end %>
            </ul>
        </li>
    </ul>
    <hr>
</div>

<div class="details">
    <h2>Bookings</h2>
    <ul class="details-list">
        <% @gym_class.bookings.each do |booking| %>
            <li>
                <a href="/member/<%= booking.member.id %>">
                    <%= booking.member.full_name %> (<%= booking.member.preferred_name%>) — <%= booking.time %>
                </a>
            </li>
        <% end %>
    </ul>
</div>

<footer>
    <a href="/class-list">
        <p>Back to Class List</p>
    </a>
</footer>
