<header class="page-header">
    <h1>Edit Booking</h1>
</header>

<form 
    action="/booking/<%= @booking.id %>/edit/<%= @member_id %>/<%= @gym_class.id %>" 
    method="post" 
    class="booking-form"
>

    <label for="session-select">Session</label>
    <select name="session_id" id="session-select" required>
        <option/>
        <% @gym_class.sessions.each do |session| %>
            <option 
                value="<%= session.id %>" 
                <%= "selected" if  @booking.session_id == session.id%>
            >
                <%= session.day_display%> <%= session.time %>
            </option>
        <% end %>
    </select>

    <input type="submit" value="Confirm">

</form>
