<header class="page-header">
    <h1><%= @gym_class.name %> Sessions</h1>
</header>

<div class="page-content">
    
    <form 
        action="/class/<%= @gym_class.id %>/sessions" 
        method="post" 
        class="session-form"
    >
        <div>
            <label for="day-select">Day</label>
            <select name="day" id="day-select" required>
                <option/>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
            </select>
        </div>

        <div>
            <label for="time-select">Time</label>
            <select name="time" id="time-select" required>
                <option/>
                <option value="07:00">07:00</option>
                <option value="07:30">07:30</option>
                <option value="08:00">08:00</option>
                <option value="08:30">08:30</option>
                <option value="09:00">09:00</option>
                <option value="09:30">09:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
                <option value="17:30">17:30</option>
                <option value="18:00">18:00</option>
                <option value="18:30">18:30</option>
                <option value="19:00">19:00</option>
                <option value="19:30">19:30</option>
            </select>
        </div>
        
        <input type="submit" value="Add new session">

    </form>

    <div class="sessions-list">
        <ul>
            <% @gym_class.sessions.each do |session| %>
                <li>
                    <%= session.day_display %> <%= session.time %>
                    <form action="/session/<%= session.id %>/delete" method="post">
                        <input type="submit" value="Delete" class="delete-button">
                    </form>
                </li>
            <% end %>
        </ul>
    </div>

    <footer>
        <form action="/class/<%= @gym_class.id %>" method="get">
            <input type="submit" value="Done"> 
        </form>
    </footer>

</div>
